<h1>Participant Show Page</h1>
<p>Name: <%= @participant['name']%></p>
<p>Email: <%= @participant['email']%></p>
<p>Address: <%= @participant['address']%></p>
<%= link_to "Back To Participant List",participants_path%>