<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Interview Cancelled.</h2>
    <p> 
      Interview has been cancelled.
    </p>
  </body>
</html> 