<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Interview reminder.</h2>
    <p> 
      Interview will start in 30 minutes.<br>
      
      Description - <%= @interview.description %><br>
      Interview start time - <%= @interview.start_time %> <br>
      Interview end time - <%= @interview.end_time %> <br>

    </p>
  </body>
</html> 